<div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
    <div class="row">
      <div class="col-md-12 col-lg-2 order-md-0 order-lg-1">
        <div class="col-lg-2 mb-3">
          <img id="detail-brand-logo"
            src="https://bari2.com/wp-content/themes/linstar/assets/images/default.jpg" />
        </div>
      </div>
      <div class="col-md-12 col-lg-10 order-md-1 order-lg-0">
        <div class="row">
          <div class="col-lg-6 mb-3">
            <label for="detail-brand-id" class="form-label">id</label>
            <input type="text" class="form-control" id="detail-brand-id" readonly value="1"/>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="detail-brand-name"/>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="number_of_employees" class="form-label">Number of employees</label>
            <input type="text" class="form-control" id="detail-brand-number_of_employees"/>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="founded" class="form-label">Founding date</label>
            <input type="date" class="form-control" id="detail-brand-founded" />
          </div>
          <div class="col-lg-6 mb-3">
            <label for="country" class="form-label">Country</label>
            <select type="country" class="form-control" id="detail-brand-country">
              <option value="GERMANY">GERMANY</option>
              <option value="US">US</option>
              <option value="Italy">Italy</option>
              <option value="UK">UK</option>
              <option value="SPAIN">SPAIN</option>
              <option value="BELGIUM">BELGIUM</option>
            </select>
          </div>
          <div class="col-lg-6 mb-3">
            <label for="detail-brand-url-logo" class="form-label">Logo</label>
            <input type="text" class="form-control" id="detail-brand-url-logo" />
          </div>
        </div>
        <button class="btn btn-primary" id="detail-change-brand">Update</button><br/>
        <button class="btn btn-danger" id="detail-delete-brand">Delete</button>
    </div>
    <span class="error" id="detail-error-message"></span>
</div>