<div class="tab-pane fade" id="detail" role="tabpanel" aria-labelledby="detail-tab">
    <div class="row">
      <div class="col-md-12 col-lg-2 order-md-0 order-lg-1">
        <div class="col-lg-2 mb-3">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/330px-Logo_NIKE.svg.png" />
        </div>
      </div>
      <div class="col-md-12 col-lg-10 order-md-1 order-lg-0">
        <div class="row">
          <div class="col-lg-6 mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="brand-name" placeholder="Nike" />
          </div>
          <div class="col-lg-6 mb-3">
            <label for="number_of_employees" class="form-label">Number of employees</label>
            <input type="text" class="form-control" id="brand-number_of_employees" placeholder="75400" />
          </div>
          <div class="col-lg-6 mb-3">
            <label for="founded" class="form-label">Founding date</label>
            <input type="date" class="form-control" id="brand-founded" />
          </div>
          <div class="col-lg-6 mb-3">
            <label for="country" class="form-label">Country</label>
            <select type="country" class="form-control" id="brand-country">
              <option value="GERMANY">GERMANY</option>
              <option value="US">US</option>
              <option value="Italy">Italy</option>
              <option value="UK">UK</option>
              <option value="SPAIN">SPAIN</option>
              <option value="BELGIUM">BELGIUM</option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary" id="add-brand">Submit</button>
      </div>
      <span id="error-message"></span>
    </div>
</div>