<div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
    <div class="container">
      <input type="text" id="brandInput" placeholder="Search for names..">
      <table class="table" id="brandTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">founded</th>
            <th scope="col">country</th>
            <th scope="col">Number</th>
          </tr>
        </thead>
        <tbody id="brands-table-body">
          
        </tbody>
      </table>
      <span id="brand-error" class="error"></span>
    </div>
  </div>